Omega/web/WEB-INF/wsit-webservices.SOAP.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SOAP" targetNamespace="http://webservices/" xmlns:tns="http://webservices/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="ClassNotFoundException"/>
    <message name="SQLException"/>
    <message name="valida"/>
    <message name="validaResponse"/>
    <portType name="SOAP">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="valida">
            <input message="tns:valida"/>
            <output message="tns:validaResponse"/>
        </operation>
    </portType>
    <binding name="SOAPPortBinding" type="tns:SOAP">
        <wsp:PolicyReference URI="#SOAPPortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="valida">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="SOAP">
        <port name="SOAPPort" binding="tns:SOAPPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="SOAPPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="SOAPPortBinding_validacion_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="SOAPPortBinding_validacion_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
