OmegaElbueno/src/conf/xml-resources/web-service-references/SoapWS/wsdl/localhost_8080/SoapWS/SoapWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="altaUsuario" type="tns:altaUsuario"/>

<xs:element name="altaUsuarioResponse" type="tns:altaUsuarioResponse"/>

<xs:element name="creaTabla" type="tns:creaTabla"/>

<xs:element name="creaTablaResponse" type="tns:creaTablaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="obtenTablasDeUsuario" type="tns:obtenTablasDeUsuario"/>

<xs:element name="obtenTablasDeUsuarioResponse" type="tns:obtenTablasDeUsuarioResponse"/>

<xs:element name="obtenerTabla" type="tns:obtenerTabla"/>

<xs:element name="obtenerTablaResponse" type="tns:obtenerTablaResponse"/>

<xs:element name="signIn" type="tns:signIn"/>

<xs:element name="signInResponse" type="tns:signInResponse"/>

<xs:element name="valida" type="tns:valida"/>

<xs:element name="validaResponse" type="tns:validaResponse"/>

<xs:complexType name="creaTabla">
<xs:sequence>
<xs:element name="esquemaTabla" type="xs:string" minOccurs="0"/>
<xs:element name="nombreTabla" type="xs:string" minOccurs="0"/>
<xs:element name="idusuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creaTablaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorType" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:int"/>
<xs:element name="unexpectedObject" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signIn">
<xs:sequence>
<xs:element name="base" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signInResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerTabla">
<xs:sequence>
<xs:element name="base" type="xs:string" minOccurs="0"/>
<xs:element name="idusuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerTablaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaUsuario">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="base" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valida">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenTablasDeUsuario">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenTablasDeUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>