OmegaElbueno/web/WEB-INF/wsdl/localhost_8080/SoapWS/SoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="SoapWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/SoapWS/SoapWS?xsd=1"/>
</xsd:schema>
</types>
<message name="altaUsuario">
<part name="parameters" element="tns:altaUsuario"/>
</message>
<message name="altaUsuarioResponse">
<part name="parameters" element="tns:altaUsuarioResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="valida">
<part name="parameters" element="tns:valida"/>
</message>
<message name="validaResponse">
<part name="parameters" element="tns:validaResponse"/>
</message>
<message name="signIn">
<part name="parameters" element="tns:signIn"/>
</message>
<message name="signInResponse">
<part name="parameters" element="tns:signInResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="SoapWS">
<operation name="altaUsuario">
<input wsam:Action="http://webservices/SoapWS/altaUsuarioRequest" message="tns:altaUsuario"/>
<output wsam:Action="http://webservices/SoapWS/altaUsuarioResponse" message="tns:altaUsuarioResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://webservices/SoapWS/altaUsuario/Fault/ClassNotFoundException"/>
</operation>
<operation name="valida">
<input wsam:Action="http://webservices/SoapWS/validaRequest" message="tns:valida"/>
<output wsam:Action="http://webservices/SoapWS/validaResponse" message="tns:validaResponse"/>
</operation>
<operation name="signIn">
<input wsam:Action="http://webservices/SoapWS/signInRequest" message="tns:signIn"/>
<output wsam:Action="http://webservices/SoapWS/signInResponse" message="tns:signInResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservices/SoapWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservices/SoapWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="SoapWSPortBinding" type="tns:SoapWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="altaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="valida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapWS">
<port name="SoapWSPort" binding="tns:SoapWSPortBinding">
<soap:address location="http://localhost:8080/SoapWS/SoapWS"/>
</port>
</service>
</definitions>